---
layout: default
title:  Fermium LABS - About Us
---
<div class="main-container">
					
			
		<section class="page-title page-title-3 image-bg overlay parallax">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image " src="img/kenny.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h3 class="uppercase mb0" >What is Fermium LABS?</h3>
		                </div>
		            </div>
		            
		        </div>
		        
		        
		    </section><section>
		        <div class="container">
		            <div class="feed-item mb96 mb-xs-48">
		                
		                
		                <div class="row mb32 mb-xs-16">
		                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		                        
		                        <p class="lead">
		                            We aren't opened every day from 9am to 6pm. We haven't got project managers with 30 years of experience, quality consultants or human resource management teams. 
		                        </p>
                          <p class="lead">
                            We're a small, tight-knit teams of broad backgrounds guided by the ingenuity of way too young minds.
                                                         
                          </p>
                          <p class="lead">
                            In Fermium LABS srl, products are born directly within new technologies. We rethink, reinvent and redesign what's been left behind
                          </p>
		                    </div>
		                </div>
		                
		                <div class="row">
		                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
		                        
		                        <hr>
		                    </div>
		                </div>
		            </div>
		            
		        </div></section><section class="page-title page-title-3 image-bg overlay-frm parallax">
		        <div class="background-image-holder">
		            <img alt="Background Image" class="background-image" src="img/Padua-1112x630__7_.jpg">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h3 class="uppercase mb0">Some Faces</h3>
		                </div>
		            </div>
		            
		        </div>
		        
		        
		    </section><section>
		        <div class="container">
              <div class="row row-centered flex">
								{% for person in site.data.we %}
								
                <div class="col col-sm-6 col-md-2 col-centered flip-container " ontouchstart="this.classList.toggle('hover');">
		                    <div class="text-center flipper mobile-view">
                          <div class="front">
		                        <img alt="Pic" src="{{person.picture}}">
														<div class="title mb16">
		                            
		                            <span>{{person.title}}</span>
		                        </div>
                          </div>
                          <div class="back">
		                        <div class="title mb16">
		                            <h5 class="uppercase mb0">{{person.name}}</h5>
		                            <span>{{person.title}}</span>
		                        </div>
		                        <p class="mb0">
		                            {{person.description}}
		                        </p>
                          </div>
		                    </div>
		                </div>
								{% endfor %}
              </div>
              <hr>
							<div class="row row-centered">
								{% for person in site.data.collaborators %}
                <div class="col col-sm-6 col-md-2 col-centered flip-container" ontouchstart="this.classList.toggle('hover');">
		                    <div class="text-center flipper mobile-view">
                          <div class="front">
		                        <img alt="Pic" src="{{person.picture}}">
														<div class="title mb16 front-title">
		                            
		                            <span>{{person.title}}</span>
		                        </div>
                          </div>
                          <div class="back">
		                        <div class="title mb16">
		                            <h5 class="uppercase mb0">{{person.name}}</h5>
		                            <span>{{person.title}}</span>
		                        </div>
		                        <p class="mb0">
		                            {{person.description}}
		                        </p>
                          </div>
		                    </div>
		                </div>
								{% endfor %}
		           
							
		    </section>		
</div>