---
layout: default
title:  Fermium LABS
description: Fermium LABS srl is a company dedicated to exploiting young mind views and new technologies for the sake of innovation.
opengraph_type:
opengraph_image:
---

		<div class="main-container ">
		<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
		        <ul class="slides flex">
				{% for project in site.data.projects %}
		            <li class="overlay image-bg ">
		                <div class="background-image-holder">
		                    <img alt="image" class="background-image blur " src="{{project.image}}">
		                </div>
		                <div class="container v-align-transform">
		                    <div class="row text-center ">
                          <div class="col-sm-4">
                            <div id="{{project.slide}}" class="morris-chart prettyprint linenums">
                     						<script>
																new Morris.Donut({
																	element: '{{project.slide}}',
																	backgroundColor: 'transparent',
																	resize: true,
																	data: {{project.donut|jsonify}},
																	formatter: function(value,data) {return value+" %"}
																});
																$('.morris-chart svg text').attr("style", "font-family: Roboto").attr("font-weight", "bold");
																	</script>
                            </div>
                          </div>
		                        <div class="col-sm-8 ">
		                            <div class="row">
																	<h1 class="mb-xs-16 project-link title hvr-underline-from-center"><a href="{{project.project-page}}">{{ project.name }}</a></h1>
																</div>
																<div class="row">
																<h3 class="mb-xs-16 project-link subtitle">{{ project.subtitle }}</h3>
															</div>
																<!--<p class="lead mb40">
		                                {% for tags in project.tags %}

		                                <small class="thin">{{tags}}</small>
                                  {% endfor %}
		                            </p>-->
																<p class="lead mb40 thin">
																	{{ project.description | markdownify }}
																</p>
                                <div class="row policies text-left row-centered">
                                  {% for policy in project.policies %}
																	{% if forloop.index0==0 %}
																	<h4 class="text-center">Policies</h4>
																	{% endif %}
                                  {% assign loopindex= forloop.index | modulo: 2 %}
                                  {% if loopindex==1 %}
																	<div class="row policy-line">


                                  <div class="col-sm-4">
                                    {{policy.name}}: {{policy.value}}
                                  </div>
                                  {% else %}
                                  <div class="col-sm-4">
                                    {{policy.name}}: {{policy.value}}
                                  </div>
																	</div>
                                  {% endif %}
                                  {% endfor %}

                                </div>
                                <div id="twitter_update_list">
                                </div>
		                        </div>
		                    </div>

		                </div>


		            </li>

					{% endfor %}
		        </ul>
		    </section>
</div>
