/****** PLACE YOUR CUSTOM STYLES HERE ******/
nav.fixed.reveal-nav{
	position:fixed;
	visibility:visible;
	opacity:1;
}

nav.outOfSight{
	transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  /*transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;*/
}