<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="animate-in">

    <div class="page-content">
      <div class="wrapper ">
        <div class="error-div text-center vcenter">
          <h1 id="main-error-message">{{page.title}}</h1>
          <h2 id="secondary-error-message"><a href="/">Head back <i class="fa fa-home" aria-hidden="true"></a></p></i></h2>
      </div>
        {{ content }}
      </div>
    </div>    
    {% include zendesk-widget.html %}
    {% include scripts.html %}
  </body>

</html>
