<div id="top" class="nav-container">
    
    
    
        <nav class="absolute {% if page.menu %}{{ page.menu | escape }}{% else %}{{ 'transparent' | escape }}{% endif %}">
                              <div class="nav-bar">
                                <div class="module left">
                                    <a href="/">
                                        <svg style="width:auto; height:auto;max-height:50px" preserveAspectRatio="xMidYMid meet"  class="logo logo-light">
                                            <image xlink:href="/Assets/img/logos/text-only-white.svg" width="100%" height="100%"/>
                                        </svg>
                                        <svg style="width:auto; height:auto;max-height:50px" preserveAspectRatio="xMidYMid meet"  class="logo logo-dark">
                                            <image xlink:href="/Assets/img/logos/text-only.svg" width="100%" height="100%"/>
                                        </svg>
                                    </a>
                                </div>
                        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="module-group right">
                            <div class="module left">
                                
                                <ul class="menu">
                                        <li class="has-dropdown">
                                                <a href="#">
                                                    Products
                                                </a>
                                                <ul class="mega-menu">
                                                    {% for category in site.data.products %}
                                                    <li>
                                                        <ul>
                                                            <li>
                                                                <span class="title">{{category.tag}}</span>
                                                            </li>
                                                            {% for product in category.products %}
                                                            <li>
                                                                    <a href="{{product.link}}">{{product.name}}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                    <li>
                                        <a href="/about-us/">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/contact-us/">Contact Us</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div> 
                    </div>
                </nav>
    
    </div>
    