{% for notification in site.data.notifications %}
<div class="modal-strip bg-white"  {% if notification.data-cookie %} data-cookie="{{ notification.data-cookie }}" {% endif %}>         
 <div class="container">
  <div class="row">
   <div class="col-sm-12 overflow-hidden">
    {{ notification.icon }}
    <p class="mb0 pull-left">{{ notification.text | markdownify }}</a></p>
   </div>
  </div>
 </div>
 {% if notification.button %} 
 <a class="btn btn-sm close-modal">{{ notification.button.text | markdownify }}</a>
 {% endif %}
</div>
{% endfor %}
