

	<script src="/Assets/js/jquery.min.js"></script>
        <!--<script src="js/bootstrap.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/Assets/js/flexslider.min.js"></script>
        <script src="/Assets/js/parallax.js"></script>
        <script src="/Assets/js/scripts.js"></script>
				<script src="/Assets/js/custom.js"></script>
 <script>
    window.addEventListener("beforeunload", function () {
      document.body.classList.add("animate-out");
    });
    </script>
